barotrauma_clientperm = "Username:steam64:Rank AnotherUser:steam64:Rank"
barotrauma_server_pass = "big-secret-pass"
livedns_api_key = "big_huge_key"
pm_api_url = "https://proxmox:8006/api2/json"
pm_user = "terraform-prov@pve"
pm_pass = "big-secret-pass"
papermc_server_pass = "big-secret-pass"
private_ssh_key = "~/.ssh/id_rsa"
public_ssh_key = "~/.ssh/id_rsa.pub"
zandronum_rcon_pass = "big-secret-pass"
zandronum_server_pass = "big-secret-pass"
