ansible_rclone_configs = "YAML\n  values\n  for\n  ansible_rclone"
barotrauma_clientperm = "Username:steam64:Rank AnotherUser:steam64:Rank"
barotrauma_server_pass = "big-secret-pass"
linodedns_token = "big_huge_key"
livedns_api_key = "big_huge_key"
pm_api_url = "https://proxmox:8006/api2/json"
pm_user = "terraform-prov@pve"
pm_pass = "big-secret-pass"
papermc_server_pass = "big-secret-pass"
private_ssh_key = "~/.ssh/id_rsa"
private_backup_ssh_key = "~/.ssh/backup_id_rsa"
public_ssh_key = "~/.ssh/id_rsa.pub"
public_backup_ssh_key = "~/.ssh/backup_id_rsa.pub"
zandronum_rcon_pass = "big-secret-pass"
zandronum_server_pass = "big-secret-pass"
